.title {
  color: #00a99d !important
  min-width: 200px;
  background-image: url(http://datamonkey.org/assets/img/header-logo.svg);
  background-repeat: no-repeat;
}

.home-link {
  hidden:true !important
}

.ui-post-summary {
  color: black !important
  font-weight: bold
}

body {
  background-image: url(http://datamonkey.org/assets/img/twitter-diamond.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 200px 300px;
  background-blend-mode: soft-light;
}
