.title {
  color: #00a99d !important
  min-width: 200px;
  background-image: url(http://datamonkey.org/assets/img/header-logo.svg);
  background-repeat: no-repeat;
}

.home-link {
  hidden:true !important
}

.ui-post-summary {
  color: black !important
  font-weight: bold
}
